__pycache__/
*.pyc
*.pyo
*.pyd

venv/
ENV/
.env

instance/
*.db
*.sqlite3
*.sqlite

.vscode/



*.log
logs/

Dockerfile
dockerfile
.dockerignore
.docker/

.git/
.gitignore
.gitattributes

README.md
README*.md

.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/